.home-right-body {
  position: relative;
  background: #1f1d2b;

  .right-top {
    width: 33%;
    position: fixed;
    top: 0;
    padding: 25px 20px;
    background: #1f1d2b;
    z-index: 999;

    hr {
      display: block;
      height: 1px;
      border: 0;
      border-top: 1px solid #393c49;
    }

    h4 {
      color: #fff;
      font-weight: 500;
      font-size: 1.2rem;
    }

    .order-btn {
      margin: 20px 0;

      button {
        padding: 8px 10px;
        border-radius: 8px;
        border: none;
        margin-right: 8px;
        background: #1f1d2b;
        border: 1px solid #393c49;
        color: #ea7c69;
        font-weight: 500;
        cursor: pointer;

        &.active {
          background: #ea7c69;
          color: #fff;
        }
      }
    }

    .right-header {
      width: 100%;
      display: flex;
      gap: 40px;
      margin: 20px 0;

      span {
        color: #fff;

        &:first-child {
          margin-right: auto;
        }
      }
    }
  }

  .right-body {
    height: calc(100vh - 320px);
    margin-top: 140px;
    padding: 20px;
    overflow-y: auto;

    .order-item {
      display: flex;
      flex-direction: column;
      margin-top: 30px;

      .order-left {
        width: 100%;
        .order-top {
          display: flex;
          align-items: center;

          div {
            &:nth-child(2) {
              p {
                width: 150px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                color: #fff;
              }

              span {
                color: #abbbc2;
                font-size: 0.9rem;
              }
            }

            &:nth-child(3) {
              margin-left: auto;
            }

            &:last-child {
              p {
                color: #fff;
              }
            }
          }

          .dish-image {
            width: 40px;
            margin-right: 8px;

            img {
              width: 100%;
            }
          }

          input {
            width: 50px;
            height: 50px;
            text-align: center;
            font-size: 16px;
            outline: none;
            background: #2d303e;
            border: 1px solid #393c49;
            border-radius: 8px;
            color: #fff;
            padding: 0 5px;
            margin-right: 20px;
          }
        }
      }

      .order-bottom {
        display: flex;

        .order-node {
          width: 100%;
          margin-top: 10px;

          input {
            width: 100%;
            background: #2d303e;
            border: 1px solid #393c49;
            border-radius: 8px;
            padding: 12px 10px;
            outline: none;
            color: #e0e6e9;
          }
        }

        div {
          &:last-child {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 55px;
            height: 46px;
            margin-left: 15px;
            margin-top: 8px;
            border: 1px solid #ff7ca3;
            border-radius: 8px;
            cursor: pointer;

            svg {
              font-size: 1.3rem;
              color: #ff7ca3;
            }
          }
        }
      }
    }
  }

  .right-bottom {
    width: 32.5%;
    position: fixed;
    background: #1f1d2b;
    z-index: 999;
    bottom: 0;
    padding: 25px 20px;

    div {
      display: flex;
      justify-content: space-between;

      &:nth-child(2) {
        margin: 20px 0;
      }

      p {
        color: #abbbc2;
      }

      h5 {
        color: #fff;
        font-weight: 500;
        font-size: 1rem;
      }

      button {
        width: 100%;
        background: #ea7c69;
        box-shadow: 0px 8px 24px rgba(234, 124, 105, 0.3);
        border-radius: 8px;
        padding: 14px 0;
        margin-top: 20px;
        color: #fff;
        border: none;
        cursor: pointer;
      }
    }
  }
}
